body {
    background-color: 	#DCDCDC;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.black-pink {
    background-color: #000;
    color: #ffaec0; /* Rosa pastel */
}

.profile-header {
    text-align: center;
}

.profile-photo {
    border-radius: 25%; 
    border: 5px solid #ffaec0;
}

.profile-logo {
    width: 100px;
    border-radius: 50px;
    width: 50px; 
    margin: 10px; 
}

.social-buttons {
    text-align: center;
}

.linkedin-button, .github-button {
    width: 50px; 
    margin: 10px; 
}

.bio {
    padding: 20px; 
}

.projects {
    padding: 20px; 
}

.project {
    border: 1px solid #000; 
    padding: 10px; 
    margin: 10px 0; 
}

.project-link {
    background-color: #000; 
    color: #DCDCDC; 
    padding: 5px 10px; 
    text-decoration: none;
}

.project-link:hover {
    background-color: #ff87a3; 
}

.footer-photo {
    display: block; 
    margin: 0 auto; 
    border-radius: 50px;
    width: 50px; 
    margin: 10px;
}
.whatsapp-button {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #25D366;
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    transition: background-color 0.3s ease;
}

@media (min-width: 769px) {
    .profile-photo {
        width: 200px; 
        border-width: 5px; 
    }

    .project {
        padding: 20px; 
    }

    .project-link {
        font-size: 16px; 
        padding: 10px 20px; 
    }
}


.whatsapp-button:hover {
    background-color: #128C7E;
}


@media (max-width: 768px) {
    .profile-photo {
        width: 150px;
        border-width: 3px;
    }

    .project {
        padding: 10px;
    }

    .project-link {
        font-size: 14px;
        padding: 3px 8px;
    }
}

.profile-photo-container {
    float: left;
    width: 50%; 
}

.profile-logo-container {
    float: left; 
    width: 50%; 
}

.profile-logo-container {
    float: left;
    width: 50%;
}
